%div.row
  %div.span11
    %h2 Time Line
  %div.span1
    %button.btn.btn-primary{:onClick=>"location.href='/tweet'"} Tweet!
%div.row
  -@time_line.each do |time_line_item|
    %div.span12
      %div.well.well-tweet
        %p.tweet #{time_line_item.text}
        %p.timestamp #{time_line_item.created_at}
