%div.row
  %div.span10
    %h2 Time Line
  %div.span2{:align=>"right"}
    %button.btn.btn-primary{:onClick=>"location.href='/tweet'"} Tweet
-@time_line.each do |time_line_item|
  %div.row
    %div.span12.well.well-tweet
      %div.row
        %div.span1
          %img{:src=>"#{time_line_item.user.profile_image_url}"}
        %div.span8
          %p.tweet #{time_line_item.text}
        %div.span3
          %p.timestamp #{time_line_item.created_at}
