!!! XML
!!!
%html
  %head
    %title gelegele heroku
    -# ƒ‚ƒoƒCƒ‹Œü‚¯‚¾‚ªˆÓ–¡‚ ‚é‚Ì‚©‚ÈH
    -# %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %link{:href=>"bootstrap/css/bootstrap.css", :type=>"text/css", :rel=>"stylesheet"}
    %link{:href=>"bootstrap/css/bootstrap-responsive.css", :type=>"text/css", :rel=>"stylesheet"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/style.css"}
  %body
    %div.container
      %div.glgl-page-header
        %h1 gelegele heroku
      != yield