!!! XML
!!!
%html
  %head
    %title gelegele heroku
    -# モバイル向けだが意味あるのかな？
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %link{:href=>"bootstrap/css/bootstrap.css", :type=>"text/css", :rel=>"stylesheet"}
    %link{:href=>"bootstrap/css/bootstrap-responsive.css", :type=>"text/css", :rel=>"stylesheet"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/style.css"}
    %script{:type=>"text/javascript", :src=>"jquery/jquery.js"}
    %script{:type=>"text/javascript", :src=>"gelegelescript.js"}
  %body
    %div.container
      / Page Header
      %div.glgl-page-header
        %h1
          %a.glgl-page-title{:href=>"/"} gelegele heroku
      / Tab Navi
      %ul.nav.nav-tabs
        %li#tab-timeline
          %a{:href=>"/timeline"}Time Line
        %li#tab-fav
          %a{:href=>"/fav"}Fav
        %li#tab-search
          %a{:href=>"/search"}Search
      / Tab Page
      != yield