%ul.nav.nav-tabs
  %li
    %a{:href=>"/"}Time Line
  %li.active
    %a{:href=>"/search"}Search

%div.row
  %div.span12{:align=>"right"}
    %form.form-search{:action=>"/search"}
      %input.search-query{:name=>"keyword",:type=>"text",:placeholder=>"Search"}
