%div.row
  %div.span6
    %h2 Search Result Of #{@search_word}
  %div.span6{:align=>"right"}
    %form.form-search
      %input.search-query{:type=>"text"}
      %button.btn{:type=>"submit"} Search



-@search_results.each do |search_result|
  %div.row
    %div.span12.well.well-tweet
      %div.row
        %div.span1
          %img.tweet{:src=>"#{search_result.profile_image_url}"}
        %div.span8
          %p.tweet.text #{search_result.text}
        %div.span3
          %p.tweet.timestamp #{search_result.created_at}
